<div class='{{ classes }} video-player
            {% if autoplay %}videoplayer-loading{% endif %}
            {% if controls %}show-controls{% endif %}'>
  <div class='videoplayer-inner'>
    <noscript>
      <video preload='{% if autoplay %}auto{% else %}metadata{% endif %}'
             {% if autoplay %} autoplay{% endif %}
             {% if loop %} loop{% endif %}
             {% if controls %} controls{% endif %}
             {% if muted %} muted{% endif %}
             {% if playsinline %} playsinline{% endif %}>
        {% for desktop, _, type in sources %}
          <source src='{{ desktop }}' type='{{ type }}'>
        {% endfor %}
      </video>
    </noscript>
    <video class='video'
           preload='none'
           {% if preload != 'none' %} data-preload='{{ preload }}'{% endif %}
           {% if autoplay %} data-autoplay='true'{% endif %}
           {% if autoplay_min_width %}
             data-autoplay-min-width='{{ autoplay_min_width }}'
           {% endif %}
           {% if loop %} loop{% endif %}
           {% if muted %} muted{% endif %}
           {% if playsinline %} playsinline {% endif %}>
      {% for desktop, mobile, type in sources %}
        <source data-src='{{ desktop }}'
                {% if mobile %} data-mobileSrc='{{ mobile }}' {% endif %}
                type='{{ type }}'>
      {% endfor %}
    </video>
    {% include 'videoplayer/snippets/controls.html' %}
    {% include 'videoplayer/snippets/playpause.html' %}
    {% if poster_markup %}
      {{ poster_markup|safe }}
    {% endif %}
  </div>
  {% if caption %}
    <div class='caption'>
      <p>
        {{ caption }}
      </p>
    </div>
  {% endif %}
</div>
