$video-background: #000 !default;
$video-controls-background: transparent !default;
$video-controls-color: #fff !default;
$video-controls-active-color: transparentize(#fff, .2) !default;
$video-progress-track-background: $video-background !default;
$video-progress-thumb-color: $video-controls-color !default;

$tablet-max: 1280px !default;  // Samsung Galaxy Note etc
$desktop-min: $tablet-max + 1px !default;
$phone-max: 667px !default; // Portrait iPhone6
$tablet-min: $phone-max + 1px !default;

$fullscreen-zindex: 2147483647 !default; // largest 32-bit integer

@function nulleable-bool($value: null) {
  @if $value == false or
      $value == '' or
      $value == "false" or
      $value == 'false' or
      $value == 0 {
        @return false;
      }
  @if $value == null or
      $value == "null" or
      $value == 'null' {
        @return null;
      }
  @return true;
}

@if !mixin-exists(fullscreen) {
  @mixin fullscreen {
    &.fullscreen { @content; }
    &:-webkit-full-screen { @content; }
    &:-moz-full-screen { @content; }
    &:fullscreen { @content; }
  }
}

@if !mixin-exists(hardware-accelerated) {
  @mixin hardware-accelerated {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@if !mixin-exists(hover) {
  @mixin hover {
    // Enable hover states on non-touch devices only, to avoid having to click
    // the video twice to make it play on iOS devices.
    .no-touchevents &:hover {
      @content;
    }
  }
}

@if !mixin-exists(desktop) {
  @mixin desktop($and-events: null,
                 $or-events: null) {
    @media screen and (min-width: $desktop-min) {
      @if nulleable-bool($and-events) == null {
        @content;
      } @else if nulleable-bool($and-events) == true {
        .pointerevents &,
        .touchevents & {
          @content;
        }
      } @else {
        .no-pointerevents.no-touchevents & {
          @content;
        }
      }
    }

    @if nulleable-bool($or-events) == true {
      .pointerevents &,
      .touchevents & {
        @content;
      }
    } @else if nulleable-bool($or-events) == false {
      .no-pointerevents.no-touchevents & {
        @content;
      }
    }
  }
}

@if !mixin-exists(tablet) {
  @mixin tablet($and-events: null,
                $or-events: null) {
    @media screen and (max-width: $tablet-max) and (min-width: $tablet-min) {
      @if nulleable-bool($and-events) == null {
        @content;
      } @else if nulleable-bool($and-events) == true {
        .pointerevents &,
        .touchevents & {
          @content;
        }
      } @else {
        .no-pointerevents.no-touchevents & {
          @content;
        }
      }
    }

    @if nulleable-bool($or-events) == true {
      .pointerevents &,
      .touchevents & {
        @content;
      }
    } @else if nulleable-bool($or-events) == false {
      .no-pointerevents.no-touchevents & {
        @content;
      }
    }
  }
}

@if !mixin-exists(phone) {
  @mixin phone($and-events: null,
               $or-events: null) {
    @media screen and (max-width: $phone-max) {
      @if nulleable-bool($and-events) == null {
        @content;
      } @else if nulleable-bool($and-events) == true {
        .pointerevents &,
        .touchevents & {
          @content;
        }
      } @else {
        .no-pointerevents.no-touchevents & {
          @content;
        }
      }
    }

    @if nulleable-bool($or-events) == true {
      .pointerevents &,
      .touchevents & {
        @content;
      }
    } @else if nulleable-bool($or-events) == false {
      .no-pointerevents.no-touchevents & {
        @content;
      }
    }
  }
}

@if !mixin-exists(range-thumb) {
  @mixin range-thumb {
    &::-webkit-slider-thumb {
      @content;
    }

    &::-moz-range-thumb {
      @content;
    }

    &::-ms-thumb {
      @content;
    }
  }
}

@if !mixin-exists(range-track) {
  @mixin range-track {
    &::-webkit-slider-runnable-track {
      @content;
    }

    &::-moz-range-track {
      @content;
    }

    &::-ms-track {
      @content;
    }
  }
}

@if !mixin-exists(greyscale) {
  @mixin greyscale($amount) {
    @if $amount > 0 {
      // Firefox 10-34
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    } @else {
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    }

    // Chrome 19+,
    // Safari 6+,
    // Safari 6+ iOS,
    // Opera 15+
    -webkit-filter: grayscale($amount * 100%);

    // Firefox 35+
    filter: grayscale($amount * 100%);

    @if $amount > 0 {
      // IE 6-9
      filter: gray;
    }
  }
}

.video-player {
  @include fullscreen {
    .video-wrap {
      position: fixed;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
      z-index: $fullscreen-zindex;
    }
  }

  &.has-custom-controls {
    video {
      &::-webkit-media-controls-panel {
        display: none;
        -webkit-appearance: none;
      }
      &::-webkit-media-controls-play-button {
        display: none;
        -webkit-appearance: none;
      }
      &::-webkit-media-controls-start-playback-button {
        display: none;
        -webkit-appearance: none
      }

      &::-webkit-media-controls {
        display: none;
        -webkit-appearance: none;
      }
    }
  }
}

.video-wrap {
  // avoid flickering video when transitions are happening elsewhere on page
  @include hardware-accelerated;
  position: relative;
  width: 100%;
  overflow: hidden;

  @include desktop {
    @include hover {
      .playpause {
        visibility: inherit;
        opacity: 1;
      }
    }
  }

  @include tablet($and-events: false) {
    @include hover {
      .playpause {
        visibility: inherit;
        opacity: 1;
      }
    }
  }

  @include tablet($and-events: true) {
    .playpause {
      visibility: inherit;
      opacity: 1;
    }
  }

  @include phone {
    .playpause {
      visibility: inherit;
      opacity: 1;
    }
  }

  video {
    // positioned absolutely, poster is compulsory and used to determine
    // aspect ratio.
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    cursor: pointer;
    background: $video-background;
    visibility: hidden;

    .no-js & {
      visibility: inherit;
    }
  }

  .image,
  .poster {
    -moz-transition: opacity 500ms, visibility 500ms;
    -webkit-transition: opacity 500ms, visibility 500ms;
    transition: opacity 500ms, visibility 500ms;
    opacity: 1;
    visibility: inherit;
    z-index: 2;
    cursor: pointer;
    background: $video-background;

    @include desktop-and-tablet {
      position: relative;
    }

    @include tablet {
      position: relative;
    }

    @include phone {
      position: static;
    }

    .no-js & {
      visibility: hidden;
    }

    .caption {
      top: 100%;
      left: 1px;
      margin-top: 10px;
      font-size: 15px;

      @include desktop {
        position: absolute;  // to .image / .poster
      }

      @include tablet {
        position: absolute;  // to .image / .poster
      }

      @include phone {
        position: absolute;  // to .video-wrap
      }
    }
  }

  .playpause {
    position: absolute;
    z-index: 3;
    color: $video-controls-color;
    border-color: $video-controls-color;
    outline: none;
    background: transparent;

    opacity: 0;
    visibility: hidden;
    border: 3px solid;
    height: 70px;
    width: 70px;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
    border-radius: 50%;

    @include hover {
      color: $video-controls-active-color;
      border-color: $video-controls-active-color;

      .symbol {
        fill: $video-controls-active-color;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;

      @include desktop {
        width: 30px;
        height: 30px;
        margin-left: -14px;
        margin-top: -15px;
      }

      @include tablet($and-events: false) {
        width: 30px;
        height: 30px;
        margin-left: -14px;
        margin-top: -15px;
      }

      @include tablet($and-events: true) {
        width: 20px;
        height: 20px;
        margin-left: -9px;
        margin-top: -10px;
      }

      @include phone {
        width: 20px;
        height: 20px;
        margin-left: -9px;
        margin-top: -10px;
      }

      .symbol {
        fill: $video-controls-color;
      }
    }
  }

  .video-controls {
    @include clearfix;
    position: absolute;
    background: $video-controls-background;
    height: 32px;
    bottom: 5px;
    padding: 2px 5px 5px 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    cursor: default;
    opacity: 0;
    visibility: hidden;

    button {
      background: transparent;
      border: 0;
      outline: 0;
      font-size: inherit;
      color: $video-controls-color;
      border-color: $video-controls-color;

      @include hover {
        color: $video-controls-active-color;
        border-color: $video-controls-active-color;

        .symbol {
          fill: $video-controls-active-color;
        }
      }
    }

    .right {
      float: right;
    }

    .volume-bar {
      // clear defaults
      -webkit-appearance: none;
      outline: none;
      background: $video-controls-background;  // fallback, see videoplayer.js
      color: $video-controls-color;
      display: inline-block;
      vertical-align: top;
      height: 3px;
      margin-top: 12px;
      max-width: 120px;
      margin-right: 10px;

      @include range-thumb {
        // clear defaults
        -webkit-appearance: none;
        outline: none;
        border: 0;
        cursor: pointer;
        width: 10px;
        height: 10px;
        margin-top: -3px;
        border-radius: 50%;
        background: $video-controls-color;
        color: $video-controls-color;
      }

      @include range-track {
        // clear defaults
        outline: none;
        border: 0;
        cursor: pointer;

        height: 100%;
        width: 100%;
      }
    }

    .mute {
      position: relative;
      padding: 0;
      height: 26px;
      width: 26px;

      svg {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;

        &.muted {
          display: none;
          left: 3px;
        }

        .symbol {
          fill: $video-controls-color;
        }
      }
    }

    .fs {
      position: relative;
      height: 26px;
      width: 26px;
      padding: 0;

      svg {
        position: absolute;
        height: 14px;
        top: 6px;
        width: 14px;
        left: 6px;
      }

      .symbol {
        fill: $video-controls-color;
      }
    }
  }

  $progress-bar-height: 5px;

  .progress-wrap {
    width: 100%;
    height: $progress-bar-height;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    background-color: $video-controls-background;
    overflow: hidden;
  }

  .progress-bar {
    // clear defaults
    display: block;
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;  // fallback, see video-player.js
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: calc(100% + 20px);
    height: $progress-bar-height;
    cursor: pointer;

    @include range-track {
      // clear defaults
      display: block;
      -webkit-appearance: none;
      outline: none;
      border: 0;
      background: transparent;
      color: transparent;

      cursor: pointer;
      height: $progress-bar-height;
      width: 100%;
    }

    @include range-thumb {
      // clear defaults
      display: block;
      -webkit-appearance: none;
      outline: none;
      border: 0;

      cursor: pointer;
      width: 20px;
      height: $progress-bar-height;
      margin-left: -10px;
      background: $video-controls-color;
      color: $video-controls-color;
    }
  }

  .fallback-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $progress-bar-height;

    .fallback-progress-bar {
      position: absolute;
      left: 0;
      // width set with js
      top: 0;
      height: $progress-bar-height;
      background: $video-controls-active-color;
      cursor: pointer;
    }
  }

  // STATES
}

.video-player {
  &.loading {
    .image,
    .poster {
      cursor: default;

      > * {
        @include greyscale(1);
        opacity: .5;
      }
    }
  }

  &.loading {
    .playpause {
      opacity: .75;
      visibility: inherit;

      @include hover {
        color: $video-controls-color;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-animation: loading .8s infinite linear;
        animation: loading .8s infinite linear;
        border-radius: 50%;

        @include desktop {
          height: 25px;
          width: 25px;
          margin-left: -12.5px;
          margin-top: -12.5px;
          border: 4px solid $video-controls-color;
          border-right-color: transparent;
        }

        @include tablet($and-events: false) {
          height: 25px;
          width: 25px;
          margin-left: -12.5px;
          margin-top: -12.5px;
          border: 4px solid $video-controls-color;
          border-right-color: transparent;
        }

        @include tablet($and-events: true) {
          height: 20px;
          width: 20px;
          margin-left: -10px;
          margin-top: -10px;
          border: 2px solid $video-controls-color;
          border-right-color: transparent;
        }

        @include phone {
          height: 20px;
          width: 20px;
          margin-left: -10px;
          margin-top: -10px;
          border: 2px solid $video-controls-color;
          border-right-color: transparent;
        }
      }

      svg {
        display: none;
      }
    }
  }

  &.playing {
    // becomes a pointer when the user takes some activity (ie. cursor disappears
    // when watching if it's not being used).
    cursor: none;

    &.user-activity {
      cursor: pointer;

      @include hover {
        .playpause {
          opacity: 1;
          visibility: inherit;
        }

        .video-controls {
          opacity: 1;
          visibility: inherit;
        }
      }
    }

    .no-js & {
      cursor: default;
    }

    video {
      visibility: inherit;
    }

    .playpause {
      opacity: 0;
      visibility: hidden;

      @include tablet($and-events: true) {
        opacity: 1;
        visibility: inherit;
        border: 0;
        height: 32px;
        width: 32px;
        left: 0;
        top: auto;
        top: initial;
        bottom: 5px;
        margin-left: 0;
        margin-top: 0;
      }

      @include phone {
        opacity: 1;
        visibility: inherit;
        border: 0;
        height: 32px;
        width: 32px;
        left: 0;
        top: auto;
        top: initial;
        bottom: 5px;
        margin-left: 0;
        margin-top: 0;
      }

      svg {
        display: none;
      }

      &:before {
        font-family: sans-serif;
        content: '\258E\00a0\258E';
        letter-spacing: -.4em;
        margin-left: .3em;

        @include desktop {
          margin-top: 0;
          font-size: 24px;
        }

        @include tablet($and-events: false) {
          margin-top: 0;
          font-size: 24px;
        }

        @include tablet($and-events: true) {
          display: block;
          margin-top: 4px;
          font-size: 12px;
        }

        @include phone {
          display: block;
          margin-top: 4px;
          font-size: 12px;
        }
      }
    }

    .video-controls {
      opacity: 0;
      visibility: hidden;

      @include tablet($and-events: true) {
        opacity: 1;
        visibility: inherit;
      }

      @include phone {
        opacity: 1;
        visibility: inherit;
      }
    }

    .image,
    .poster {
      opacity: 0;
      visibility: hidden;
    }

    .progress-wrap {
      visibility: inherit;
    }
  }

  &.paused {
    video {
      visibility: inherit;
    }

    .playpause {
      opacity: 1;
      visibility: inherit;
    }

    .video-controls {
      opacity: 1;
      visibility: inherit;
    }

    .progress-wrap {
      visibility: inherit;
    }

    .image,
    .poster {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.scrubbing {
    .playpause {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.muted {
    .video-controls .mute {
      .audible {
        display: none;
      }

      .muted {
        display: block;
      }
    }
  }

  .no-js & {
    .playpause {
      display: none;
    }

    .video-controls {
      display: none;
    }

    .image,
    .poster {
      visibility: hidden;
    }
  }
}

// keyframes

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
