$videoplayer-background: #000 !default;
$videoplayer-controls-background: transparent !default;
$videoplayer-controls-color: #fff !default;
$videoplayer-controls-active-color: transparentize(#fff, .2) !default;
$videoplayer-progress-track-background: $videoplayer-background !default;
$videoplayer-progress-thumb-color: $videoplayer-controls-color !default;

$videoplayer-phone-max: 667px !default; // Portrait iPhone6
$videoplayer-tablet-min: $videoplayer-phone-max + 1px;

$fullscreen-zindex: 2147483647 !default; // largest 32-bit integer

@function nulleable-bool($value: null) {
  @if $value == false or
      $value == '' or
      $value == "false" or
      $value == 'false' or
      $value == 0 {
        @return false;
      }
  @if $value == null or
      $value == "null" or
      $value == 'null' {
        @return null;
      }
  @return true;
}

@mixin videoplayer-range-thumb {
  &::-webkit-slider-thumb {
    @content;
  }

  &::-moz-range-thumb {
    @content;
  }

  &::-ms-thumb {
    @content;
  }
}

@mixin videoplayer-range-track {
  &::-webkit-slider-runnable-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }

  &::-ms-track {
    @content;
  }
}

.video-player {
  &.fullscreen,
  &:-webkit-full-screen,
  &:-moz-full-screen,
  &:fullscreen {
    .video-wrap {
      position: fixed;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
      z-index: $fullscreen-zindex;
    }
  }

  &.has-custom-controls {
    video {
      cursor: pointer;

      &::-webkit-media-controls-panel {
        display: none;
        -webkit-appearance: none;
      }
      &::-webkit-media-controls-play-button {
        display: none;
        -webkit-appearance: none;
      }
      &::-webkit-media-controls-start-playback-button {
        display: none;
        -webkit-appearance: none
      }

      &::-webkit-media-controls {
        display: none;
        -webkit-appearance: none;
      }
    }
  }
}

.video-wrap {
  // avoid flickering video when transitions are happening elsewhere on page
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  overflow: hidden;

  video {
    // positioned absolutely, poster is compulsory and used to determine
    // aspect ratio.
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: $videoplayer-background;
    visibility: hidden;

    .no-js & {
      visibility: inherit;
    }
  }

  .image,
  .poster {
    -moz-transition: opacity 500ms, visibility 500ms;
    -webkit-transition: opacity 500ms, visibility 500ms;
    transition: opacity 500ms, visibility 500ms;
    opacity: 1;
    visibility: inherit;
    z-index: 2;
    cursor: pointer;
    background: $videoplayer-background;

    @media screen and (min-width: $videoplayer-tablet-min) {
      position: relative;
    }

    @media screen and (max-width: $videoplayer-phone-max) {
      position: static;
    }

    .no-js & {
      visibility: hidden;
    }

    .caption {
      top: 100%;
      left: 1px;
      margin-top: 10px;
      font-size: 15px;

      @media screen and (min-width: $videoplayer-tablet-min) {
        position: absolute;  // to .image / .poster
      }

      @media screen and (max-width: $videoplayer-phone-max) {
        position: absolute;  // to .video-wrap
      }
    }
  }

  .playpause {
    position: absolute;
    z-index: 3;
    color: $videoplayer-controls-color;
    border-color: $videoplayer-controls-color;
    outline: none;
    background: transparent;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    opacity: 1;
    visibility: inherit;

    @media screen and (min-width: $videoplayer-tablet-min) {
      border: 3px solid;
      height: 70px;
      width: 70px;
      margin-left: -35px;
      margin-top: -35px;
    }

    @media screen and (max-width: $videoplayer-phone-max) {
      border: 2px solid;
      height: 50px;
      width: 50px;
      margin-left: -25px;
      margin-top: -25px;
    }

    .no-touchevents &:hover {
      color: $videoplayer-controls-active-color;
      border-color: $videoplayer-controls-active-color;

      .symbol {
        fill: $videoplayer-controls-active-color;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;

      @media screen and (min-width: $videoplayer-tablet-min) {
        width: 30px;
        height: 30px;
        margin-left: -14px;
        margin-top: -15px;
      }

      @media screen and (max-width: $videoplayer-phone-max) {
        width: 20px;
        height: 20px;
        margin-left: -9px;
        margin-top: -10px;
      }

      .symbol {
        fill: $videoplayer-controls-color;
      }
    }
  }

  .video-controls {
    position: absolute;
    background: $videoplayer-controls-background;
    height: 32px;
    bottom: 5px;
    padding: 2px 5px 5px 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    zoom: 1;

    &:after {
      clear: both;
      content: '';
      display: table;
    }

    button {
      background: transparent;
      border: 0;
      outline: 0;
      font-size: inherit;
      color: $videoplayer-controls-color;
      border-color: $videoplayer-controls-color;

      .no-touchevents &:hover {
        color: $videoplayer-controls-active-color;
        border-color: $videoplayer-controls-active-color;

        .symbol {
          fill: $videoplayer-controls-active-color;
        }
      }
    }

    .right {
      float: right;
    }

    .volume-bar {
      // clear defaults
      -webkit-appearance: none;
      outline: none;
      background: $videoplayer-controls-background;  // fallback, see videoplayer.js
      color: $videoplayer-controls-color;
      display: inline-block;
      vertical-align: top;
      height: 3px;
      margin-top: 12px;
      max-width: 120px;
      margin-right: 10px;

      @include videoplayer-range-thumb {
        // clear defaults
        -webkit-appearance: none;
        outline: none;
        border: 0;
        cursor: pointer;
        width: 10px;
        height: 10px;
        margin-top: -3px;
        border-radius: 50%;
        background: $videoplayer-controls-color;
        color: $videoplayer-controls-color;
      }

      @include videoplayer-range-track {
        // clear defaults
        outline: none;
        border: 0;
        cursor: pointer;

        height: 100%;
        width: 100%;
      }
    }

    .mute {
      position: relative;
      padding: 0;
      height: 26px;
      width: 26px;

      svg {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;

        &.muted {
          display: none;
          left: 3px;
        }

        .symbol {
          fill: $videoplayer-controls-color;
        }
      }
    }

    .fs {
      position: relative;
      height: 26px;
      width: 26px;
      padding: 0;

      svg {
        position: absolute;
        height: 14px;
        top: 6px;
        width: 14px;
        left: 6px;
      }

      .symbol {
        fill: $videoplayer-controls-color;
      }
    }
  }

  $progress-bar-height: 5px;

  .progress-wrap {
    width: 100%;
    height: $progress-bar-height;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    background-color: $videoplayer-controls-background;
    overflow: hidden;
  }

  .progress-bar {
    // clear defaults
    display: block;
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;  // fallback, see video-player.js
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: calc(100% + 20px);
    height: $progress-bar-height;
    cursor: pointer;

    @include videoplayer-range-track {
      // clear defaults
      display: block;
      -webkit-appearance: none;
      outline: none;
      border: 0;
      background: transparent;
      color: transparent;

      cursor: pointer;
      height: $progress-bar-height;
      width: 100%;
    }

    @include videoplayer-range-thumb {
      // clear defaults
      display: block;
      -webkit-appearance: none;
      outline: none;
      border: 0;

      cursor: pointer;
      width: 20px;
      height: $progress-bar-height;
      margin-left: -10px;
      background: $videoplayer-controls-color;
      color: $videoplayer-controls-color;
    }
  }

  .fallback-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $progress-bar-height;

    .fallback-progress-bar {
      position: absolute;
      left: 0;
      // width set with js
      top: 0;
      height: $progress-bar-height;
      background: $videoplayer-controls-active-color;
      cursor: pointer;
    }
  }
}

// STATES

.video-player {
  &.videoplayer-loading {
    .playpause {
      opacity: .75;

      .no-touchevents &:hover {
        color: $videoplayer-controls-color;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-animation: loading .8s infinite linear;
        animation: loading .8s infinite linear;
        border-radius: 50%;

        @media screen and (min-width: $videoplayer-tablet-min) {
          height: 25px;
          width: 25px;
          margin-left: -12.5px;
          margin-top: -12.5px;
          border: 4px solid $videoplayer-controls-color;
          border-right-color: transparent;
        }

        @media screen and (max-width: $videoplayer-phone-max) {
          height: 20px;
          width: 20px;
          margin-left: -10px;
          margin-top: -10px;
          border: 2px solid $videoplayer-controls-color;
          border-right-color: transparent;
        }
      }

      svg {
        display: none;
      }
    }
  }

  &.videoplayer-playing {
    // becomes a pointer when the user takes some activity (ie. cursor disappears
    // when watching if it's not being used).
    cursor: none;

    &.user-activity {
      cursor: default;

      .playpause {
        opacity: 1;
        visibility: inherit;
      }

      .video-controls {
        opacity: 1;
        visibility: inherit;
      }
    }

    .no-js & {
      cursor: default;
    }

    video {
      visibility: inherit;
    }

    .playpause {
      opacity: 0;
      visibility: hidden;
      border: 0;
      height: 32px;
      width: 32px;
      left: 0;
      top: auto;
      top: initial;
      bottom: 5px;
      margin-left: 0;
      margin-top: 0;

      svg {
        display: none;
      }

      &:before {
        font-family: sans-serif;
        content: '\258E\00a0\258E';
        letter-spacing: -.4em;
        margin-left: .3em;
        display: block;
        margin-top: 4px;
        font-size: 12px;
      }
    }

    .image,
    .poster {
      opacity: 0;
      visibility: hidden;
    }

    .progress-wrap {
      visibility: inherit;
    }
  }

  &.videoplayer-paused {
    video {
      visibility: inherit;
    }

    .video-controls {
      opacity: 1;
      visibility: inherit;
    }

    .progress-wrap {
      visibility: inherit;
    }

    .image,
    .poster {
      opacity: 0;
      visibility: hidden;
    }
  }

  // &.scrubbing {
  //   .playpause {
  //     opacity: 0;
  //     visibility: hidden;
  //   }
  // }

  &.muted {
    .video-controls .mute {
      .audible {
        display: none;
      }

      .muted {
        display: block;
      }
    }
  }

  // shows default html5 player
  .no-js & {
    .playpause {
      display: none;
    }

    .video-controls {
      display: none;
    }

    .image,
    .poster {
      visibility: hidden;
    }
  }
}

// keyframes

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
